.b-container {
    padding: 0 100px 0 200px;
}

.b-nav-section {
    padding: 0 60px 0 40px;

}

.b-logo {
    margin-right: 120px;
}

.b-title-wrapper {
    max-width: 780px;
}

.b-lead-wrapper {
    max-width: 670px;
}

.b-lead {
    font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.b-more-wrapper--header {
    width: 580px;
}

.b-header {
    margin-bottom: 100px;
}

.b-features {
    padding-top: 90px;
}

.b-list {
    column-gap: 120px;
    padding: 0px;
    padding-top: 45px;
    padding-bottom: 100px;
}

.b-list__item {
    width: 380px;
    padding-left: 0px;
    margin-right: 0;
}

.b-list__item::before {
    top: 14px;
    left: -60px;
}

.b-article-wrapper {
    justify-content: space-between;
    
}

.b-article {
    margin-bottom: 20px;
}

.b-article:last-child {
    margin-bottom: 0px;
}

.b-article__info--inner {
    padding-left: 0px;
    padding-right: 140px;
    padding-bottom: 50px;
}

.b-article-wrapper .b-article {
    width: calc(50% - 10px);
    
}

.b-subtitle--sticker {
    margin-bottom: 50px;
}

.b-subtitle--article {
    margin-bottom: 30px;
}

.b-address:last-child {
    padding-left: 120px;
}

.b-map-box {
    padding-left: 249px;
    padding-right: 28px;
}

.b-map {
    width: 903px;
    height: 440px;
}


.b-container--footer {
    padding: 0;
}
