.b-more-wrapper--header:hover {
    background-color:  #64cae1;
    transition: 0.5s ease;
    }

.b-more-wrapper {
    padding-left: 200px;
}

.b-menu__link:hover {
    opacity: 0.5;
    transition: 0.3s ease;
}

.b-menu__item--header {
    margin-right: 50px;
}

.b-menu__item--hidden {
    display: inline;
}

.b-lang__item:hover {
    opacity: 0.5;
    transition: 0.3s ease;
}

.b-lang__item--active:hover {
    opacity: 1;
}

.b-social__icon:hover path {
    fill: #64cae1;
    transition: 0.3s ease;
}

.b-more-wrapper--footer:hover {
    background-color: #c0c6c8;
    
    transition: 0.5s ease;
}

.b-subtitle--article:hover, 
.b-subtitle--sticker:hover {
    opacity: 0.5;
    transition: 0.3s ease;
}

.b-article__info--highlighted .b-subtitle--sticker:hover {
    opacity: 0.7;
    transition: 0.3s ease;
}



