@font-face {
    src: url(../fonts/Roboto-Light.otf) format('otf'),
    url(../fonts/Roboto-Light.ttf) format('ttf'),
    url(../fonts/Roboto-Light.eot) format('eot'),
    url(../fonts/Roboto-Light.woff) format('woff'),
    url(../fonts/Roboto-Light.woff2) format('woff2');
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
}

@font-face {
    src: url(../fonts/Roboto-Bold.otf) format('otf'),
    url(../fonts/Roboto-Bold.ttf) format('ttf'),
    url(../fonts/Roboto-Bold.eot) format('eot'),
    url(../fonts/Roboto-Bold.woff) format('woff'),
    url(../fonts/Roboto-Bold.woff2) format('woff2');
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    src: url(../fonts/Roboto-Black.otf) format('otf'),
    url(../fonts/Roboto-Black.ttf) format('ttf'),
    url(../fonts/Roboto-Black.eot) format('eot'),
    url(../fonts/Roboto-Black.woff) format('woff'),
    url(../fonts/Roboto-Black.woff2) format('woff2');
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
}