html {
  margin: 0;
}

picture {
  font-size: 0px;
}

.b-body {
  display: flex;
  flex-direction: column;
 justify-content: center;
align-items: center;
  background-color: #f4f4f7;
  
  overflow-x: hidden;
}

.b-page-wrapper {


  overflow-x: hidden;
  max-width: 1180px;
}


/*Header*/

.b-header {
  background-color: #2d2d42;
  padding: 30px 0 0 0;

}
.b-menu--header {
  display: none;
}

.b-container {
  margin: 0 auto;
  padding: 0 30px;
}

.b-logo {
  display: block;
  width: 140px;
  height: 30px;
}

.b-nav-section {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.b-lang__list {
  display: none;
}


.b-logo__image {
  object-fit: contain;
}

.b-burger-menu {
  display: block;
  text-decoration: none;
  font-size: 0px;
}

.b-burger-menu:active .b-burger-menu__icon use {
  fill: #93a4a9;
}

.b-burger-menu__icon {
  width: 20px;
  height: 20px;
}

.b-title {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 900;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.31px;

  margin: 0 0 20px 0;
}

.b-title--light {
  color: #f4f4f7;
}

.b-lead {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  margin: 0 0 30px 0;
}


.b-lead--light {
  color: #f4f4f7;
  margin: 0 0 100px 0;
}

.b-more {
 
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

.b-more::after {
  content: "";
  background: url(../images/ic-next.svg);
  display: block;
  width: 20px;
  height: 20px;
}


.b-more-wrapper {
  display: block;
  background-color: #64cae1;
  padding: 20px 30px;
  
  text-decoration: none;
}

.b-more-wrapper:active {
  background-color: #c0c6c8;
  
  
}


.b-more-wrapper--header {
  background-color: transparent;
}

.b-more-wrapper--header:active {
  background-color:  #64cae1;
  
}

.b-more__text {
  color: #f4f4f7;
  margin: 0;

  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
}

.b-more__icon {
  color: #f4f4f7;
  width: 20px;
  height: 20px;
}

.b-main {
  color: #2d2d42;
}

/*We combine high level of ...*/
.b-benefits {
  background-color: #ffffff;
}
.b-features {
  padding: 30px 0;
}

.b-text {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  margin: 0 0 30px 0;
}

.b-feature {
  display: flex;
  align-items: center;
  padding: 23px 0 26px 0;
  position: relative;
  margin: 0;
}

.b-feature::before {
  content: "";
  display: block;
  position: absolute;
  width: 100vw;
  height: 1px;
  left: -30px;
  top: 0px;

  background-color: #c0c6c8;
  opacity: 0.2;
}

.b-feature:last-child::after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  bottom: 0px;
  width: 100vw;
  left: -30px;

  background-color: #c0c6c8;
  opacity: 0.2;
}

.b-feature__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  box-sizing: border-box;
  margin-right: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.b-feature__image--project {
  background-color: #63c9e0;
  padding: 11px 11px 9px 11px;
}

.b-feature__image--hire {
  background-color: #f47e3d;
  padding: 9px 16px 8px 20px;
}

.b-feature__image--digital {
  background-color: #d04b9b;
  padding: 10px 9px 15px;
}

.b-feature__text {
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;

  margin: 0;
}

/*What We Do*/

.b-work {
  padding: 30px 0 40px;
}

.b-title--work {
  color: #c0c6c8;
}

.b-list {
  margin: 0;
  list-style-type: none;
  padding:0px;
}

.b-list__item {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  position: relative;
  margin-bottom: 20px;
  padding-left:40px;
}

.b-list__item:last-child {
  margin-bottom: 0;
}

.b-list__item::before {
  content:"";
  display:block;
  height: 1px;
  width: 20px;
  background-color: #64cae1;
  position: absolute;
  left: 0px;
  top: 9px;
}


/*Our Work*/

.b-projects {
  padding: 30px 0 0 0;
}

.b-subtitle {
  font-family: Roboto;
  font-size: 10px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1.33px;
  text-transform: uppercase;

  margin: 0 0 20px 0;
}

.b-article--hidden {
  display: none;
}

.b-article-box {
  background-color: #ffffff;
}

.b-article__info {
  padding: 30px;
}

.b-article__link {
  text-decoration: none;
  color: #2d2d42;
}

.b-subtitle--article:active, 
.b-subtitle--sticker:active {
    opacity: 0.5;
}

.b-article__info--highlighted .b-subtitle--sticker:active {
    opacity: 0.7; 
}

.b-article__image-wrapper {
  overflow: hidden;
  font-size: 0px;
}

.b-article__image {
  width: 100%;
  object-fit: contain;
}

.b-article__text {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  margin: 0 0 30px 0;
  margin: 0;
}

/*Contacts*/

.b-contacts {
  background-color: #000000;
  padding: 30px 0 0 0;
  position: relative;
  overflow: hidden;
  
}

.b-social {
  z-index: 1;
  margin-bottom: 220px;

  display: flex;
}

.b-social__link {
  display: block;
  text-decoration: none;
  margin-right: 25px;
  width: 30px;
  height: 30px;
}

.b-social__icon {
  margin: 0;
}

.b-social__icon:active path {
  fill: #64cae1;

}

.b-social__link:last-child {
  margin-right: 0;
}

.b-text--light {
  color: #f4f4f7;
  margin-bottom: 20px;
}

.b-address__text {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;

  color: #f4f4f7;
  margin: 0;
}

.b-text__development {
  display: none;
}

.b-address {
  position: relative;
  z-index: 1;
  max-width: 225px;
  margin-bottom: 30px;
}

.b-address:last-child {
  margin-bottom: 0;
}

 .b-address-box {
  margin-bottom: 40px;
} 

.b-subtitle--address {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: normal;
  text-transform: none;
  color: #f4f4f7;
}

.b-address__text--email {
  color: #64cae1;
  text-decoration: none;
}

.b-map-box {
  position: absolute;
  top: 215px;
  right: 0;
  left: -80px;
  display: flex;
  justify-content: center
}

.b-map {
  z-index: 0;
  width: 677px;
  max-width: none;
  height: 330px;
}


.b-text--contacts {
  margin-bottom: 20px;
}

/*Footer*/

.b-footer {
  background-color: #2d2d42;
  padding: 0 0 30px 0;
}

.b-menu--footer {
  padding-top: 20px;
}

.b-menu {
  color: #f4f4f7;

  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.67;
  letter-spacing: normal;
}

.b-menu__list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 18px 0;
}

.b-menu__link {
  text-decoration: none;
  color: inherit;
}

.b-menu__link:active {
  opacity: 0.5;
}

.b-copyright {
  color: #f4f4f7;
  margin: 0;

  opacity: 0.5;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
}



