.b-container {
    padding: 0 40px 0 100px;
}

.b-header {
    background-image: url(../images/img-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 40px 0 0 0;
}

.b-header::after {
    content:"";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 1;
}

.b-nav-section,
.b-title--light,
.b-lead--light,
.b-more__text,
.b-more__icon {
    position: relative;
    z-index: 2;
}

.b-logo {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 60px;
}

.b-nav-section {
    padding-left: 100px;
    padding-right: 60px;
    margin-bottom: 92px;
    align-items: center;
    display: flex;   
    
}

.b-nav-wrapper {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
}

.b-menu--header {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.33;
    letter-spacing: normal;
    color: #f4f4f7;

}


.b-menu__list--header {
    min-width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
}

 .b-menu__item--header {
    margin-right: 58px;
} 

.b-menu__item--header:last-child {
    margin-right: 0px;
}

.b-lang {
    min-width: 130px;
}

.b-lang__list {
    list-style-type: none;
    padding: 0px;
    display: flex;
    align-items: center;
    margin: 0 0px;


}

.b-lang__link {
   text-decoration: none;
   font-family: Roboto;
   color: #f4f4f7;
   font-size: 15px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.33;
   letter-spacing: normal;
   position: relative;
}

.b-lang__item {
  margin-right: 25px;
}

.b-lang__item:last-child {
    margin-right: 0;
}

.b-lang__item--active {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: solid 1px #ffffff;
    border-radius: 50%;
}

.b-burger-menu__icon {
    display: none;
}

.b-title {
  font-size: 60px;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: -0.75px;
  margin-bottom: 30px;
}

.b-title-wrapper {
    max-width: 780px;
}

.b-lead {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}

.b-lead-wrapper {
    max-width: 680px;
}

.b-lead--light {
    margin-bottom: 78px;
  }

.b-more-wrapper--header {
    position: relative;
    background-color: transparent;
    width: 49%;
    box-sizing: border-box;
    border: solid 1px rgba(225, 225, 225, 0.1);
    padding: 25px 50px 25px 100px;
    z-index: 2;
}

.b-more__text {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: normal;
}

.b-more__icon {
    width: 30px;
    height: auto;
}

/*We combine high level of..*/

.b-features {
    padding-bottom: 0;
    padding-top: 90px;
}

.b-text {
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
}


.b-text--features {
    margin-bottom: 85px;
}

.b-feature::before {
    display: none;
}

.b-feature:last-child::after {
    display: none;
}

.b-feature-box {
    display: flex;
    flex-wrap: wrap;
    margin-right: -80px;
}

.b-feature {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    position: relative;
    margin: 0 60px 40px 0;

    width: 240px;
  }

  .b-feature__image {
      width: 90px;
      height: 90px;
      margin-bottom: 30px;
      margin-right: 0;

  }

  .b-feature__icon {
    width: 50px;
    height: 52px;  
  }

  .b-feature__icon--project {
     width: 50px;
     height: 52px; 
  }

  .b-feature__icon--hire {
    width: 24px;
    height: 59px; 
 }

 .b-feature__icon--digital {
    width: 56px;
    height: 43px; 
 }

  .b-feature__image--project {
    background-color: #63c9e0;

  }
  
  .b-feature__image--hire {
    background-color: #f47e3d;
    padding: 9px 16px 8px 20px;
  }
  
  .b-feature__image--digital {
    background-color: #d04b9b;
    padding: 10px 9px 15px;
  }

  .b-feature__text {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
  }

  /*What we do*/

  .b-list {
      columns: 2;
      column-gap: 80px;

      padding: 45px 0 77px 0;
  }

  .b-list__item {
    width: 320px;
    margin-right: 0;

    padding-left: 50px;

    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
  }
  
  .b-list__item::before{
    top: 15px;
    left: 0px;
    width: 30px;
}


.b-more-wrapper--hidden {
    display: none;
}

/*Our Work*/

.b-projects {
    padding: 100px 0 0 0;
}

.b-title--projects{
    margin-bottom: 25px;
}

.b-text--projects {
    margin-bottom: 90px;
}

.b-subtitle {
    font-size: 13px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: 1.73px;
}

.b-subtitle--article {
    margin-bottom: 30px;
}

.b-article-box {
    background-color: transparent;
}

.b-article--hidden {
    display: block;
}

.b-article__info {

  padding: 40px 50px 40px 40px;
}

.b-article__text {
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
}

.b-article__image {
    width: 100%;
    max-height: 600px;
  
    object-fit: cover;

}

.b-article-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.b-article-wrapper .b-article {
    position: relative;
    width: 50%;
}

.b-article-wrapper .b-article__info::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0;
    border-left: 1px solid rgba(192, 198, 200, 0.2);
} 
.b-article {
    position: relative;
}


.b-article__info--sticker {
    width: 380px;
    height: 380px;
    padding: 40px;
    box-sizing: border-box;
    position: absolute;
   
}

.b-subtitle--sticker {
    margin-bottom: 40px;
}


.b-article__info--highlighted {
    background-color: #64cae1;
    color: #f4f4f7;
    right: 50%;
    bottom: 20px;
}

.b-article__info--common {
    left: 50%;
    bottom: 20px;
    background-color: #f4f4f7;
}


/*Contacts*/

.b-contacts {
    padding-top: 100px;
  
}


.b-social {
    position: absolute;
    left: 50%;
    margin-left: 108px;
    top: 118px;
    z-index: 2;
}

.b-title--contacts {
    margin-bottom: 75px;
}

.b-text--contacts {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    max-width: 380px;
    position: relative;
    z-index: 1;
    margin-bottom: 90px;
}


.b-map {
    z-index: 0;
    width: 900px;
    height: 440px;    
}

.b-map-box {
    overflow: hidden;
    top: 180px;
    left: 0;
    padding-left: 220px;
}


.b-subtitle--address {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
}


.b-address__text {
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;

    margin: 0;
}

.b-address-box {
    display: flex;
    margin-bottom: 70px;
}

.b-address {
    width: 50%;
    margin-bottom: 0;
}

.b-address:last-child {
    padding-left: 158px;
}

/*Footer*/

.b-footer {
    display: flex;
    padding: 0;
}


.b-menu--footer {
    display: none;
    
}
.b-container--footer {
    padding: 0;
    width: 51%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #000000;
    border: none;
}

.b-copyright {
  
}

.b-more-wrapper--footer {
    width: 49%;
   box-sizing: border-box;

   padding: 25px 50px 25px 100px;
}


@media screen and (min-width: 1180px) {
    .b-article-wrapper .b-article__info::after {
        display: none;
    }
}

