.b-container {
    padding: 0 30px 0 30px;
}

.b-header {
    background-image: url(../images/img-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}

.b-header::after {
    content:"";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 1;
}

.b-nav-section,
.b-title--light,
.b-lead--light,
.b-more__text,
.b-more__icon {
    position: relative;
    z-index: 2;
}

.b-logo {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 60px;
}

.b-nav-section {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 82px;
    align-items: center;
    display: flex;   
    
}

.b-nav-wrapper {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
}

.b-menu--header {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.33;
    letter-spacing: normal;
    color: #f4f4f7;

}


.b-menu__list--header {
    min-width: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
}

 .b-menu__item--header {
    margin-right: 28px;
} 

.b-menu__item--hidden {
    display: none;
}

.b-menu__item--header:last-child {
    margin-right: 0px;
}

.b-lang {
    min-width: 130px;
}

.b-lang__list {
    list-style-type: none;
    padding: 0px;
    display: flex;
    align-items: center;
    margin: 0 0px;


}

.b-lang__link {
   text-decoration: none;
   font-family: Roboto;
   color: #f4f4f7;
   font-size: 14px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.33;
   letter-spacing: normal;
   position: relative;
}

.b-lang__item {
  margin-right: 15px;
}

.b-lang__item:last-child {
    margin-right: 0;
}

.b-lang__item--active {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: solid 1px #ffffff;
    border-radius: 50%;
}

.b-burger-menu__icon {
    display: none;
}

.b-title {
  font-size: 40px;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: -0.75px;
  margin-bottom: 20px;
}

.b-title-wrapper {
    max-width: 650px;
}

.b-lead {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

.b-lead-wrapper {
    max-width: 600px;
}

.b-lead--light {
    margin-bottom: 68px;
  }

.b-more-wrapper--header {
    position: relative;
    background-color: transparent;
    width: 49%;
    box-sizing: border-box;
    border: solid 1px rgba(225, 225, 225, 0.1);
   
    z-index: 2;
}

.b-more__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: normal;
}

.b-more__icon {
    width: 30px;
    height: auto;
}

/*We combine high level of..*/

.b-features {
    padding-bottom: 0;
}

.b-text {
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
}


.b-text--features {
    margin-bottom: 65px;
}

.b-feature::before {
    display: none;
}

.b-feature:last-child::after {
    display: none;
}

.b-feature-box {
    display: flex;
    flex-wrap: wrap;
    margin-right: -80px;
}

.b-feature {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    position: relative;
    margin: 0 50px 30px 0;

    width: 200px;
  }

  .b-feature__image {
      width: 70px;
      height: 70px;
      margin-bottom: 25px;
      margin-right: 0;

  }



  .b-feature__icon--project {
     width: 45px;
     height: 47px; 
  }

  .b-feature__icon--hire {
    width: 19px;
    height: 55px; 
 }

 .b-feature__icon--digital {
    width: 51px;
    height: 38px; 
 }

  .b-feature__image--project {
    background-color: #63c9e0;

  }
  
  .b-feature__image--hire {
    background-color: #f47e3d;
    padding: 9px 16px 8px 20px;
  }
  
  .b-feature__image--digital {
    background-color: #d04b9b;
    padding: 10px 9px 15px;
  }

  .b-feature__text {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
  }

  /*What we do*/

  .b-list {
      columns: 2;
      column-gap: 40px;
      padding: 25px 0;
  }

  .b-list__item {
    margin-right: 0;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
  }
  
  .b-list__item::before{
    top: 15px;
    left: 0px;
}


.b-more-wrapper--hidden {
    display: none;
}

.b-more::after {
    width: 30px;
    height: 30px;
  }

/*Our Work*/

.b-projects {
    padding: 50px 0 0 0;
}


.b-text--projects {
    margin-bottom: 40px;
}

.b-subtitle {
    font-size: 13px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: 1.73px;
}

.b-article-box {
    background-color: transparent;
}

.b-article--hidden {
    display: block;
}


.b-article__text {
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
}



.b-article__image-wrapper {
    font-size: 0;
    max-height: 320px;

}

.b-article:last-child .b-article__image-wrapper,
.b-article:first-child .b-article__image-wrapper {
    font-size: 0;
    max-height: none;
}

.b-article__image {
    width: 100%;
    max-height: 600px;
  
    object-fit: cover;

}

.b-article-wrapper {
    display: flex;
    flex-wrap: wrap;
}


.b-article-wrapper .b-article__image-wrapper {
    height: 320px;
}

.b-article-wrapper .b-article__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.b-article-wrapper .b-article {
    position: relative;
    width: 50%;
}

.b-article-wrapper .b-article__info::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0;
    border-left: 1px solid rgba(192, 198, 200, 0.2);
} 
.b-article {
    position: relative;
}


.b-article__info--sticker {
    width: 280px;
    height: 280px;
  
    box-sizing: border-box;
    position: absolute;
   
}


.b-article__info--highlighted {
    background-color: #64cae1;
    color: #f4f4f7;
    right: 50%;
    bottom: 20px;
}

.b-article__info--highlighted .b-article__link {
    color: #f4f4f7;
  }

.b-article__info--common {
    left: 50%;
    bottom: 20px;
    background-color: #f4f4f7;
}


/*Contacts*/

.b-contacts {
    padding-top: 50px;
  
}


.b-social {
    position: absolute;
    left: 50%;
    margin-left: 108px;
    top: 68px;
    z-index: 2;
}

.b-title--contacts {
    margin-bottom: 45px;
}

.b-text--contacts {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;

    max-width: 380px;
    position: relative;
    z-index: 1;
    margin-bottom: 90px;
}

.b-map {
    z-index: 0;
    width: 800px;
    height: 440px;    
}

.b-map-box {
    overflow: hidden;
    top: 130px;
    left: 0;
    padding-left: 220px;
}


.b-subtitle--address {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
}

.b-text__dev {
    display: none;
}

.b-text__development {
    display: inline;
}


.b-address__text {
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;

    margin: 0;
}

.b-address-box {
    display: flex;
    margin-bottom: 70px;
}

.b-address {
    width: 50%;
    margin-bottom: 0;
    max-width: none;
}

.b-address:last-child {
    padding-left: 225px;
}

/*Footer*/

.b-footer {
    display: flex;
    padding: 0;
}


.b-menu--footer {
    display: none;
    
}
.b-container--footer {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51%;
    background-color: #000000;
    border: none;
}

.b-more-wrapper--footer {
   width: 49%;
   box-sizing: border-box;
}

.b-copyright {
    opacity: 0.5;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    
}

@media screen and (min-width: 800px) {
    .b-title-wrapper {
        max-width: 750px;
    }
}